{template "content","header"}

<!--内容-->
<div class="section" style="padding-bottom: 0">
    <div class="section-top"><span>首页</span>〉<span>热门问题</span></div>
    <div class="section-about mt">
        <h6>H5页面发展的趋势和模式...</h6>
        <div class="section-mt">
            <div class="mt-left"><img src="" alt=""></div>
            <div class="mt-right">
                <p>我们与其他公司不同的是，我们的整优逸客网络品牌建设经验和互联网营销的理念合解决方案结合了</p>
                <p>优逸客网络品牌建设经验和互联网</p>
            </div>
        </div>
        <div class="section-mtbom">
            <span>2016.4.22</span>
            <span>点击量:283977</span>
            <span>点击量:283997</span>
        </div>
    </div>
    <div class="section-about mt">
        <h6>H5页面发展的趋势和模式...</h6>
        <div class="section-mt">
            <div class="mt-left"><img src="" alt=""></div>
            <div class="mt-right">
                <p>我们与其他公司不同的是，我们的整优逸客网络品牌建设经验和互联网营销的理念合解决方案结合了</p>
                <p>优逸客网络品牌建设经验和互联网</p>
            </div>
        </div>
        <div class="section-mtbom">
            <span>2016.4.22</span>
            <span>点击量:283977</span>
            <span>点击量:283997</span>
        </div>
    </div>
    <div class="section-about mt">
        <h6>H5页面发展的趋势和模式...</h6>
        <div class="section-mt">
            <div class="mt-left"><img src="" alt=""></div>
            <div class="mt-right">
                <p>我们与其他公司不同的是，我们的整优逸客网络品牌建设经验和互联网营销的理念合解决方案结合了</p>
                <p>优逸客网络品牌建设经验和互联网</p>
            </div>
        </div>
        <div class="section-mtbom">
            <span>2016.4.22</span>
            <span>点击量:283977</span>
            <span>点击量:283997</span>
        </div>
    </div>

</div>
<div class="footer">
    <ul>
        <li class="lis btn"><a href="">←</a></li>
        <li class="lis"><a href="">1</a></li>
        <li class="lis"><a href="">2</a></li>
        <li class="lis"><a href="">3</a></li>
        <!--<li class="lis"><a href="">4</a></li>-->
        <!--<li class="lis"><a href="">5</a></li>-->
        <li class="lis sl"><a href="">......</a></li>
        <li class="lis"><a href="">30</a></li>
        <li class="lis btn btn2"><a href="">→</a></li>
        <li class="lis one"><div>跳转到</div><span><input type="text"></span><div class="ye">页</div></li>
        <li class="lis"><a href=""></a></li>
    </ul>
    <div class="footer-box gx">
        <p>Copyright?2013-2016版权所有 优逸客科技有限公司</p>
        <p>联系电话：400-888-6747 晋ICP备 13006051 号</p>
    </div>
</div>

{template "content","footer"}