{template "content","header"}
<!-- 导航 -->
<div class="section">
    <div class="section-box">
        <figure>
            <img class="images" src="images/UI.png" alt="">
            <figcaption>
                <a href="">UI</a>
            </figcaption>
        </figure>
    </div>
    <div class="section-box">
        <figure>
            <img class="images" src="images/Layer%209.png" alt="">
            <figcaption>
                <a href="">Web</a>
            </figcaption>
        </figure>
    </div>
    <div class="section-box">
        <figure>
            <img class="images" src="images/Layer%207.png" alt="">
            <figcaption>
                <a href="">PHP</a>
            </figcaption>
        </figure>
    </div>
    <div class="section-box">
        <figure>
            <img class="images" src="images/teacher.png" alt="">
            <figcaption>
                <a href="">金牌师资</a>
            </figcaption>
        </figure>
    </div>
    <div class="section-box">
        <figure>
            <img class="images" src="images/Layer%203.png" alt="">
            <figcaption>
                <a href="">高新学员</a>
            </figcaption>
        </figure>
    </div>
    <div class="section-box">
        <figure>
            <img class="images" src="images/Layer%202.png" alt="">
            <figcaption>
                <a href="">热门问题</a>
            </figcaption>
        </figure>
    </div>
    <div class="section-box">
        <figure>
            <img class="images" src="images/Layer%201.png" alt="">
            <figcaption>
                <a href="">媒体报道</a>
            </figcaption>
        </figure>
    </div>
    <div class="section-box">
        <figure>
            <img class="images" src="images/Capa%201.png" alt="">
            <figcaption>
                <a href="">关于我们</a>
            </figcaption>
        </figure>
    </div>
</div>

<div class="section-one">
    <h3>服务体系</h3>
    <div class="center">
        <div class="center-one">
            <p class="center-t">免费体检</p>
            <p class="center-b">健康由你掌控</p>
            <img src="images/Layer%207.png" alt="">
        </div>
        <div class="center-one">
            <p class="center-t">助学贷款</p>
            <p class="center-b">前程我来把关</p>
            <img src="images/Capa%201%20副本.png" alt="">
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-one">
            <img src="images/Layer%205.png" alt="">
            <div class="bottom-right">
                <p class="center-t">免费试听</p>
                <p class="center-b">千人免费学设计</p>
            </div>
        </div>
        <div class="bottom-one">
            <img src="images/Layer%206.png" alt="">
            <div class="bottom-right">
                <p class="center-t">优逸客动态</p>
                <p class="center-b">近在咫尺</p>
            </div>
        </div>
        <div class="bottom-one">
            <img src="images/Layer%204.png" alt="">
            <div class="bottom-right">
                <p class="center-t">荣誉认证</p>
                <p class="center-b">品质保证</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="left active"><img src="images/search.png" alt="">校区查询</div>
    <button type="button" class="center"><img src="images/call%20out.png" alt="">免费拨打</button>
    <div class="right active"><img src="images/feedback.png" alt="">在线沟通</div>
</div>





</body>
</html>
<script src="js/swiper.min.js"></script>
<script src="js/index.js"></script>