{template "content","header"}

<!--内容-->
<div class="section">
    <div class="section-top"><span><a href="{siteurl($siteid)}">首页</a></span>〉<span>{catpos($catid)}</span></div>
    {pc:content action="category" catid="12" num="25" order="listorder" ASC moreinfo="1"}
    <div class="section-header">
       {loop $data $r}
        <button  {if $catid==$r[catid]}style="background:#01b5ff"{/if}   type="button" class="section-hea-box"><a  {if $catid==$r[catid]}style="color:#fff;"{/if}    href="{$r[url]}">{$r[catname]}</a></button>
        {/loop}
    </div>
    {/pc}
    {pc:content action="lists" catid="$catid" num="3"  siteid="$siteid" order="listorder" ASC moreinfo="1" page="$page"}
    <div class="section-center active">
        <ul>
            {loop $data $r}
            <li>
                <div class="left"><img src="{$r[thumb]}" alt=""></div>
                <div class="right">
                    <div class="top"><span class="top-left">{$r[title]}</span><span class="top-right"><a href="{$r[url]}">查看更多</a>></span></div>
                    <p class="h6">{$r[keywords]}</p>
                    <p class="right-section">{$r[description]}</p>
                </div>
            </li>
            {/loop}
        </ul>
    </div>
    {/pc}
   
</div>

<div class="footer">
    <ul>
    {$pages}
        
        <!-- <li class="lis btn"><a href="">←</a></li>
        <li class="lis"><a href="">1</a></li>
        <li class="lis"><a href="">2</a></li>
        <li class="lis"><a href="">3</a></li>
        <li class="lis sl"><a href="">......</a></li>
        <li class="lis"><a href="">30</a></li>
        <li class="lis btn"><a href="">→</a></li>
        <li class="lis one"><div>跳转到</div><span><input type="text"></span><div class="ye">页</div></li>
        <li class="lis"><a href=""></a></li> -->
    </ul>

    <div class="footer-box">
        <p>Copyright?2013-2016版权所有 优逸客科技有限公司</p>
        <p>联系电话：400-888-6747 晋ICP备 13006051 号</p>
     </div>
</div>

{template "content","footer"}