{template "content","header"}
<div class="section" style="padding-bottom: 0">
    <div class="section-top"><span><a href="{siteurl($siteid)}">首页</a></span>〉<span>{catpos($catid)}</span></div>
    <div class="section-about">
        <h6>概述</h6>
        <p class="gaishu">山重庆市渝中区神洲职业技术培训学校(简称重庆神洲职校)。是经重庆市政府、市人力资源与社会保障局、市就业局、市民政局批准设立的一所重点职业培训学校。我校主要开设的专业有：挖掘机钻机培训、装载机叉车培训、厨师(强化班) 、厨师(精英班) 、川菜培训班、厨师(大厨班) 、西式糕点、艺术蛋糕、生日蛋糕裱花、重庆火锅、干锅汤锅、烧烤烤鱼、小吃卤菜、美容美发、电工机电、PIC自动化、焊工、电脑维修。</p>
        <p class="gaishu l">座落于美丽的渝中半岛，周围环境优美，交通便利(市内可乘公交车、轻轨3号线、地铁1号线、机场大巴到达；市外可乘火车、长途汽车到达)。我校师资力量雄厚，设施齐全。专业优秀的教师队伍、科学规范的教学管理、无微不至的后勤服务保证了优质的教学质量和学员们光辉灿烂的就业前途；宽敞的操作大厅、整洁的宿舍，干净的食堂，个性十足的活动场所给学员们带来家的温馨；百分之百的考证通过率让广大学员的选择和信任最终换得成功的惊喜。我校每年都会选派名师到沿海或发达国家深造，学习先进理念，掌握现代技术。由于各门类教学紧密联系职业生活实际，个别化教学和小班教学特色突出，通过我校培训的学员动手能力强、操作规范、具有较强的专业素养和吃苦耐劳精神、深受各用人单位的欢迎和好评。</p>
    </div>
    <div class="section-about">
        <h6>企业文化</h6>
        <div class="wenhua">
            <div class="wenhua-one">专注</div>
            <div class="wenhua-one">极致</div>
            <div class="wenhua-one">口碑</div>
        </div>
    </div>
    <div class="section-about">
        <h6>公司理念</h6>
        <p class="gaishu">有责任、有激情、有梦想</p>
    </div>
    <div class="section-about">
        <h6>公司愿景</h6>
        <p class="gaishu">他让每位优逸客的学员都有份好的工作</p>
    </div>
    <div class="section-about">
        <h6>公司愿景</h6>
        <p class="gaishu">成为中国顶尖的大学生职业实训基地</p>
    </div>
    <div class="section-about" style="background: none">
        <div class="wenhua">
            <div class="wenhua-one box">马上报名</div>
        </div>
    </div>
</div>
{template "content","footer"}